<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Some spans to act as a hamburger.
    -->
    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a href="#"><li>Accueil</li></a>
      <a href="#"><li>Mon compte</li></a>
      <a href="#"><li>Articles</li></a>
      <a href="#"><li>Contact</li></a>
    </ul>
  </div>
</nav>
