<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Ortie_Care</title>
</head>

<body>
    <div class="icone">
      <img src="assets/sun.png" class="asset">
    </div>

    <div class="grosbloc">
      <div class="bloc" [formGroup]="formGroup">
        <div class="select" *ngIf="sols">
          <select class="form-control" 
            (change)="onRefreshSol()"
            formControlName="selectedSol" placeholder="selectedSol"
            [class.is-valid]="selectedSol.valid"
            [class.is-invalid]="(selectedSol.touched || selectedSol.dirty) && selectedSol.invalid" type="text">
            <option *ngFor="let sol of sols" [ngValue]="sol.idSol"> {{sol.nomSol}} </option>
          </select>
        </div>
        <div class="select" *ngIf="legumesBySol">
          <select class="form-control" 
            formControlName="selectedLegume" placeholder="selectedLegume"
            [class.is-valid]="selectedLegume.valid"
            [class.is-invalid]="(selectedLegume.touched || selectedLegume.dirty) && selectedLegume.invalid" type="text">
            <option *ngFor="let legume of legumesBySol" [ngValue]="legume.id"> {{legume.nom}} </option>
          </select>
        </div>
        <button type="button" (click)="onSubmit()" class="bouton" >Générer</button>
      </div>
      <div class="generateur" *ngIf="legumesAssocies">
        <div class="card">
          <div class="card-body" *ngFor="let pickedLegume of legumesAssocies">
            <h5 class="card-title">{{pickedLegume.nom}}</h5>
            <p class="card-text"> {{pickedLegume.autoReseme}} </p>
            <p class="card-text"> {{pickedLegume.isGousse}} </p>
            <p class="card-text"> {{pickedLegume.tempsAvantRecolteEnMois}} </p>
            <p class="card-text"> {{pickedLegume.poidsMoyenFruitEnG}}</p>
            <p class="card-text"> Conseils de culture : </p>
            <div class="cardConseil" *ngFor="let conseils of pickedLegume.conseilsDeCulture">
              <div class="card-body">
                <h5>{{conseils.titre}}</h5>
                <p class="card-text">
                  {{conseils.description}}
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>
