<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Ortie_Care</title>
</head>

<body>
  <div>
    <div class="icone">
      <img src="assets/sun.png" class="asset">
    </div>

    <div class="grosbloc">
      <div class="bloc">

        <div class="select">
          <select>
            <option>Mon sol</option>
            <option value="1">Argileux</option>
            <option value="1">Sableux</option>
            <option value="1">Humifère</option>
            <option value="1">Limoneux</option>
          </select>
        </div>
        <div class="select">
          <select>
            <option>Mon légume</option>
            <option value="1">Tomate</option>
            <option value="1">Salade</option>
            <option value="1">Haricot</option>
            <option value="1">Courge</option>
          </select>
        </div>
        <button class="bouton">Générer</button>
      </div>
      <div class="generateur">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Mon légume</h5>
            <p class="card-text"> Nom : </p>
            <p class="card-text"> Auto-semis : </p>
            <p class="card-text"> Temps avant récolte (mois) : </p>
            <p class="card-text"> Poids moyen (g) : </p>
            <p class="card-text"> Conseil de culture : </p>
            <div class="cardConseil">
              <div class="card-body">
                <p class="card-text">Sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssome quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Légume associé 1</h5>
            <p class="card-text"> Nom : </p>
            <p class="card-text"> Auto-semis : </p>
            <p class="card-text"> Temps avant récolte (mois) : </p>
            <p class="card-text"> Poids moyen (g) : </p>
            <p class="card-text"> Conseil de culture : </p>
            <div class="cardConseil">
              <div class="card-body">
                <p class="card-text">Sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssome quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Légume associé 2</h5>
            <p class="card-text"> Nom : </p>
            <p class="card-text"> Auto-semis : </p>
            <p class="card-text"> Temps avant récolte (mois) : </p>
            <p class="card-text"> Poids moyen (g) : </p>
            <p class="card-text"> Conseil de culture : </p>
            <div class="cardConseil">
              <div class="card-body">
                <p class="card-text">Sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssome quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>
